<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <h1>Listado de todas las tareas</h1>
            <hr>
            <ul>
                {{#each allTodos}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

</div>